@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 142 71% 39%;
    --success-foreground: 210 40% 98%;

    --chat-sender: 140 70% 60.1%;
    --chat-sender-foreground: 222.2 40.4% 11.2%;

    --chat-recipient: 210 70% 96.1%;
    --chat-recipient-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --reduced-radius: 0.15rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --success: 142 62.8% 30.6%;
    --success-foreground: 210 40% 98%;

    --chat-sender: 140, 30%, 48%;
    --chat-sender-foreground: 222.2 47.4% 100%;

    --chat-recipient: 210 10% 12%;
    --chat-recipient-foreground: 222.2 100.4% 100%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.chat .group-left + .group-right {
  margin-bottom: 1rem;
}

.chat .group-right + .group-left {
  margin-bottom: 1rem;
}

.chat .group-left + .group-right div {
  border-bottom-right-radius: var(--reduced-radius);
}

.chat .group-right + .group-left div {
  border-bottom-left-radius: var(--reduced-radius);
}

.chat .group-left + .group-right img {
  display: block !important;
}

.chat .group-right + .group-left img {
  display: block !important;
}

.chat .group-left + .group-left {
  margin-bottom: 0.25rem;
}

.chat .group-right + .group-right {
  margin-bottom: 0.25rem;
}

.chat > :first-child + .group-left div {
  border-bottom-left-radius: var(--reduced-radius);
}

.chat > :first-child + .group-right div {
  border-bottom-right-radius: var(--reduced-radius);
}

.chat > :first-child + .group-left img {
  display: block !important;
}

.chat > :first-child + .group-right img {
  display: block !important;
}

.chat > :last-child {
  margin-top: 1rem;
}
